
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Testing</title>
     <style type="text/css">

         td{

             margin: 2px 2px 2px 2px;
             padding:  4px 4px 4px 4px;
         }


    table, td, th {
         border-collpase:collpase;
        border: 1px solid gray;
    }

     </style>
</head>

<body>
    {% load tz %}
    <form  action="." method="post"> {% csrf_token%}
        <select name="browsertype">
          <option value="Chrome">Chrome</option>
          <option value="Ie">IE</option>
          <option value="Safari">Safari</option>
        </select>
        <input type="submit" name="_run" value="Run"/>

    </form>
    <p>
        <B>History</B>
    </p>

<table>
    <!--
    {% get_current_timezone as TIME_ZONE %}
    current timezone: {{TIME_ZONE}}
    -->
  <tr><td>Browser</td><td>Total </td> <td>Pass</td> <td>Fail</td> <td>start</td> <td>elpased</td><td>Detail</td><tr>
    {% for item in loglist %}
        <tr>
         <td> {{item.browser_type}}</td>
         <td>  {{item.total_run_num}}</td>
         <td> {{item.pass_case_num}}</td>
        <td>{{item.failed_case_num}}</td>
        <td> {{item.started_time|timezone:"Asia/Hong_Kong"}}</td>
        <td>{{item.elapsed_time|floatformat:3}}s</td>

        <td> <a href="{% url 'log-detail' pk=item.id %}"/>More</td>
        </tr>
    {% empty %}
        <B>No data now</B>
    {% endfor %}

 </table>



</body>
</html>