
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Testing Web Player</title>
     <style type="text/css">
        table {
        border:0;
        border-collpase:collpase;
        }

        tr {
          border-bottom:1px solid #000;
            border-left:1px solid #000;
        }

         td{
             margin: 2px 2px 2px 2px;
             padding:  4px 4px 4px 4px;
         }
     </style>
</head>


    <form  action="." method="post"> {% csrf_token%}
        <select name="browsertype">
          <option value="Chrome">Chrome</option>
          <option value="Ie">IE</option>
          <option value="Firefox">Firefox</option>
        </select>
        <input type="submit" name="_run" value="Run"/>

    </form>
    <p>
        <B>History</B>
    </p>

<table>
  <tr><td>Browser</td><td>Total </td> <td>Pass</td> <td>Fail</td> <td>start</td> <td>elpased</td><td>Detail</td><tr>
    {% for item in loglist %}
        <tr>
         <td> {{item.browser_type}}</td>
         <td>  {{item.total_run_num}}</td>
         <td> {{item.pass_case_num}}</td>
        <td>{{item.failed_case_num}}</td>
        <td>{{item.started_time}} UTC +8</td>
        <td>{{item.elapsed_time|floatformat:3}}s</td>
        <td>{{ item.detail_log }}</td>
        </tr>
    {% empty %}
        <B>No data now</B>
    {% endfor %}

 </table>



</body>
</html>